<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E. C. Butler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("styles", required: false)
</head>
<body class="featured-image">


    <div class="d-flex flex-column h-100 ">

        <header>
            <nav id="top-menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top ">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">E. C. Butler</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Books/Index">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/About">About Me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3 flex-fill " >

            <div class="mb-3" style="@(ViewBag.FullScreen != null && ViewBag.FullScreen ? "min-height: 100vh" : "")">
                <div class="d-flex shadow-heavy header-section">
                    @RenderSection("headerContent", required: false)
                </div>     
            </div>
            
            @RenderBody()
        </main>

        <footer class="footer text-muted mt-auto">
            <div class="container">
                &copy; @DateTime.Now.Year - E. C. Butler - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/enquire/enquire.min.js"></script>

    <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    <script src="~/lib/font-awesome/js/solid.js"></script>

    <script>
        // Define some global variables
        var appGlobal = {
            backgroundImage: "/img/dark-world-background{0}.png"
        }

        //appGlobal.backgroundImage = '/img/dark-world-background{0}.png';

        var _stickyTop = false;
        var _menu = $("#top-menu");

        //navbar-light bg-white box-shadow
        $(document).on("scroll", function (ev) {
            var scrollTop = $("html").scrollTop();
            // If the scroll top is more than 0, change the top menu to the sticky one
            if (scrollTop > 0 && !_stickyTop) {
                _menu.removeClass("navbar-dark ");
                _menu.addClass("navbar-light bg-white shadow");
                
                _stickyTop = true;
            }

            if (scrollTop === 0 && _stickyTop) {
                _menu.addClass("navbar-dark ");
                _menu.removeClass("navbar-light bg-white shadow");
                _stickyTop = false;
            }
        });
    </script>

    @*Initialization scripts from pages*@
    @RenderSection("initScripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
