<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E. C. Butler</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/noty/noty.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("styles", required: false)
</head>
<body class="featured-image">


    <div class="d-flex flex-column h-100 ">

        <header>
            <nav id="top-menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-blend fixed-top ">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">E. C. Butler</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                        <ul class="navbar-nav flex-grow-1 ">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Books/Index">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/About">About Me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3 flex-fill ">

            <div class="mb-3" style="@(ViewBag.FullScreen != null && ViewBag.FullScreen ? "min-height: 100vh" : "")">
                <div class="d-flex shadow-heavy header-section">
                    @RenderSection("headerContent", required: false)
                </div>
            </div>

            @RenderBody()
        </main>

        <footer class="footer text-muted mt-auto">
            <div class="container">
                &copy; @DateTime.Now.Year - E. C. Butler - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <!-- Subscribe modal -->
    <div id="order-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="order-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="order-modal-label">Get notified of releases</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>
                        Enter your email, and I'll notify you of releases! Don't worry. I won't share or sell personal information.
                    </p>

                    <validation-observer v-slot="{ handleSubmit }">
                        <validation-provider rules="email|required" v-slot="{ errors }">
                            <div class="input-group mb-3">

                                <input name="email" type="email" required class="form-control" placeholder="email address" v-model="email"
                                       aria-label="Email address" aria-describedby="button-subscribe">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="button-subscribe" @@click.prevent="handleSubmit(subscribe)"
                                            :disabled="!email">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                            <span class="text-danger">{{ errors[0] }}</span>
                        </validation-provider>
                    </validation-observer>


                </div>

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/enquire/enquire.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/lib/font-awesome/js/solid.min.js"></script>
    <script src="~/lib/noty/noty.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vee-validate/vee-validate.full.min.js"></script>

    <script>
        // Define some global variables
        var appGlobal = {
            backgroundImage: "/img/dark-world-background{0}.png"
        }


        $(function () {


            var _stickyTop = false;
            var _menu = $("#top-menu");

            //navbar-light bg-white box-shadow
            $(document).on("scroll", function (ev) {
                var scrollTop = $("html").scrollTop();
                // If the scroll top is more than 0, change the top menu to the sticky one
                if (scrollTop > 0 && !_stickyTop) {
                    _menu.removeClass("navbar-dark ");
                    _menu.addClass("navbar-light bg-white shadow");

                    _stickyTop = true;
                }

                if (scrollTop === 0 && _stickyTop) {
                    _menu.addClass("navbar-dark ");
                    _menu.removeClass("navbar-light bg-white shadow");
                    _stickyTop = false;
                }
            });

            // Turn on Popovers
            $('[data-toggle="popover"]').popover();

            // Configure Noty
            Noty.overrideDefaults({
                timeout: 3000,
                progressBar: true,
                theme: 'bootstrap-v4'
            });

            // Vue
            Vue.component('validation-provider', VeeValidate.ValidationProvider);
            Vue.component('validation-observer', VeeValidate.ValidationObserver);

            // App instance
            var app = new Vue({
                el: '#order-modal',
                data: {
                    email: null
                },
                methods: {
                    subscribe: function () {
                        var vm = this;
                        // Call api to subscribe
                        $.post('@Url.RouteUrl("Subscribe")', { email: vm.email }).done(function (data) {

                            // Clear the email
                            vm.email = null;

                            new Noty({ text: 'Subscribed', type: 'success' }).show();
                        });
                    }
                }
            })

        })
    </script>

    @*Initialization scripts from pages*@
    @RenderSection("initScripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
